body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg, #00c853, #b2ff59);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.box {
  background: white;
  padding: 40px;
  border-radius: 15px;
  width: 300px;
}

input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  margin-top: 10px;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background: green;
  color: white;
  border: none;
  cursor: pointer;
}

h1 {
  font-size: 22px;
}
