body {
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  /* أخضر مدرج ناعم */
  background: linear-gradient(135deg, #0f9b0f, #00c853);
}

/* الصندوق الرئيسي */
.container {
  background: white;
  padding: 40px;
  border-radius: 18px;
  text-align: center;
  width: 350px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.25);
}

/* العنوان */
h1 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 25px;
  color: #1b5e20;
}

/* صندوق الإيميل */
input {
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  border: 2px solid #00c853;
  border-radius: 10px;
  outline: none;

  font-size: 16px;
}

/* الزر */
button {
  width: 100%;
  padding: 14px;
  background: #0f9b0f;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;

  font-size: 16px;
  font-weight: bold;
}

button:hover {
  background: #0a7a0a;
}

/* النتيجة */
#result {
  margin-top: 18px;
  font-size: 16px;
  font-weight: bold;
}
